# general settings
asn_fetch_url: https://www.enjen.net/asn-blocklist/index.php?asn={}&type=iplist&api=1
file_cache_time: 168 # caching time in hours before fetching again
# update ufw automatically
update_ufw: true
path_to_ufw_ipv4_user_config: /etc/ufw/user.rules
path_to_ufw_ipv6_user_config: /etc/ufw/user6.rules
# single asn settings
asn_allowed: []
asn_denied: []
# asn list settings
asn_allow_lists: []
asn_deny_lists:
  - name: brianhama-bad-asn-list.csv # name of list (must be unique)
    type: csv # type (csv)
    column: 0 # column to read (0 = first column)
    url: https://raw.githubusercontent.com/brianhama/bad-asn-list/master/bad-asn-list.csv # url to fetch
# single ip settings
ip_allowed: []
ip_denied: []
# ip list settings
ip_allow_lists: []
ip_deny_lists: []